Source: ros-rolling-compass-conversions
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), libgeographiclib-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gen-version-h, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-cmake-ros <!nocheck>, ros-rolling-angles, ros-rolling-compass-interfaces, ros-rolling-cras-cpp-common, ros-rolling-cras-lint <!nocheck>, ros-rolling-geometry-msgs, ros-rolling-magnetic-model, ros-rolling-message-filters, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-tf2, ros-rolling-tf2-geometry-msgs, ros-rolling-tf2-ros, ros-rolling-ros-workspace
Homepage: https://index.ros.org/p/compass_conversions
Standards-Version: 3.9.2

Package: ros-rolling-compass-conversions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeographiclib-dev, ros-rolling-angles, ros-rolling-compass-interfaces, ros-rolling-cras-cpp-common, ros-rolling-geometry-msgs, ros-rolling-magnetic-model, ros-rolling-message-filters, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-tf2, ros-rolling-tf2-geometry-msgs, ros-rolling-tf2-ros, ros-rolling-ros-workspace
Description: Common conversions for compass data.
