Source: ros-lyrical-magnetic-model
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), libgeographiclib-dev, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-gen-version-h, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-angles, ros-lyrical-cras-cpp-common, ros-lyrical-cras-lint <!nocheck>, ros-lyrical-geometry-msgs, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/magnetic_model
Standards-Version: 3.9.2

Package: ros-lyrical-magnetic-model
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeographiclib-dev, ros-lyrical-angles, ros-lyrical-cras-cpp-common, ros-lyrical-geometry-msgs, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Description: World Magnetic Model ROS API.
