Source: ros-kilted-compass-conversions
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), libgeographiclib-dev, ros-kilted-ament-cmake, ros-kilted-ament-cmake-gen-version-h, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-cmake-ros <!nocheck>, ros-kilted-angles, ros-kilted-compass-interfaces, ros-kilted-cras-cpp-common, ros-kilted-cras-lint <!nocheck>, ros-kilted-geometry-msgs, ros-kilted-magnetic-model, ros-kilted-message-filters, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-tf2, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Homepage: https://index.ros.org/p/compass_conversions
Standards-Version: 3.9.2

Package: ros-kilted-compass-conversions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeographiclib-dev, ros-kilted-angles, ros-kilted-compass-interfaces, ros-kilted-cras-cpp-common, ros-kilted-geometry-msgs, ros-kilted-magnetic-model, ros-kilted-message-filters, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-tf2, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Description: Common conversions for compass data.
